.subheading{
    border-radius: 2.8rem;
    border: 1px solid #E5EBFF;
    background: rgba(35, 83, 255, 0.05);
    backdrop-filter: blur(2px);
    @include font($im,1.2rem,#11023B,normal);
    letter-spacing: 0.6px;
    margin-bottom: 1.6rem;
    padding: .8rem 2.4rem;
}

.section-title{
    @include font($ism,3.2rem,#11023B,150%);
    margin-bottom: 2.4rem;

    @include respondmax(lg){
        text-align: center;
    }

    span{
        @include font($ib,3.2rem,$primary-color,150%);
    }
}
.content{
    p{
      @include font($ir,1.8rem,#000,150%);
      margin-bottom: 2.4rem;

      @include respondmax(lg){
        text-align: center;
      }
    }

    .button:last-child{
        margin-left: 1.6rem;
    }
 }

 .section-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2{
        max-width: 66.2rem;

        @include respondmax(md){
            max-width: 100%
        }
    }

    p{
        @include font($ir,1.8rem,#000,150%);
        max-width: 83.6rem;

        @include respondmax(lg){
            max-width: 100%
        }
    }

 }

 .page-title{
    @include font($ism,4.2rem,#11023B,normal);
    margin-bottom: 2.4rem;
    
    @include respondmax(lg){
        text-align: center;
    }

    @include respondmax(md){
        font-size: 3.2rem;
    }

    span{
        @include font($ism,4.2rem,#2353FF,normal);
        @include respondmax(md){
            font-size: 3.2rem;
        }
    }
 }

 .content{
    @include respondmax(lg){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3.2rem;
    }
 }