.featureSlider{
    padding: 50rem 0;
    background-image: url('../../img/featureSlider_bcg.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -40rem;
    padding-bottom: 80rem;

    @include respondmax(lg){
        padding-bottom: 70rem;
    }


    p{
        @include font($ir,1.8rem,#11023B,160%);
    }


    .splide{
       

        &__list{
            padding-bottom: 17rem!important;
            padding-top: 4rem!important;
            width: 100%;
        }

        &__slide{
            border-radius: 13px;
            margin-right: 3.35rem;
            transition: all .3s ease-in-out;
           

            &:hover{
                transform: translateY(-3rem);
            }
        
        }

        &__arrow{
            border-radius: 32px;
            background: $primary-color;
            padding: 1.4rem 1.9rem;
            opacity: 1!important;
            width: 5.4rem;
            height: 4rem;
            background-position: center;
            background-repeat: no-repeat;
            top: 39%;

            @include respondmax(lg){
                display: none;
            }

            svg{
                display: none;
            }

            &--prev{
                background-image: url('../../img/arrow-left.svg');
                left: -7rem;
            }
            &--next{
                background-image: url('../../img/arrow-right.svg');
                right: -7rem;
            }
        }
    }
}