.nav{

    &__logo{
        display: none;
        width: 15rem;

        img{
            width: 100%;
            object-fit: cover;
        }

        @include respondmax(xl){
            display: block;
            margin-bottom: 4rem;
        }
    }

    &-list{
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-left: 2.8rem;

        @include respondmax(xl){
            width: 100%;
            margin-left: 0;
        }
    }

    &-item{
        display: inline-block;

        @include respondmax(xl){
            display: block;
            text-align: center;
        }

        &:not(:last-child){
            margin-right: 2rem;

            @include respondmax(xl){
                margin-right: 0;
                margin-bottom:2rem;
            }
        }

        &:last-child{
            display: none;

            @include respondmax(lg){
                display: block;
            }
        }
    }
    &-link{
        @include font($im,1.5rem,#11023B,160%);
        transition: all .3s ease-in-out;

        &:hover{
            color: $primary-color;
        }
    }
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include respondmax(xl){
        padding-top: 2rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #fff, $alpha: 1);
        pointer-events: none;
        transition: all .4s ease-in-out;
        visibility: hidden;
        opacity: 0;
        z-index: 200000000000;

        &.active{
            visibility: visible;
            opacity: 1;
            pointer-events: all;

        }
    }
    .whatsAppLink{
        display: none;

        @include font($im,1.2rem,#262556,normal);
        letter-spacing: 0.6px;


        img{
            margin-right: 1.2rem;
        }

        @include respondmax(xl){
            display: block;
        }
    }

    .button{
        &:hover::before {
            box-shadow: inset 0 0 0 20em $triary-color;
            z-index: 1;
        }

        &:hover{
            border-color: $triary-color;
        }

        @include respondmax(xl){
            display: block;
            text-align: center;
            margin-bottom: 2rem;
        }
    }
   
}