.button{
	outline: none;
    padding: 1rem 2rem;
    border-radius: 3.2rem;
    border: 1px solid #2353FF;
    box-shadow: 0px 0px 0px 1px rgba(35, 83, 255, 0.16);
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: all 0.3s ease-out;

    span{
        @include font($im,1.6rem,#2353FF,normal);
        text-transform: capitalize;
        transition: all 0.3s ease-out;
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        content: '';
        border-radius: 50%;
        display: block;
        width: 120%;
        aspect-ratio : 1 / 1;
        // height: 22em;
        left: -2em;
        text-align: center;
        transition: box-shadow 0.3s ease-in-out;
        z-index: -1;
    }
    &:hover::before {
        box-shadow: inset 0 0 0 20em $primary-color;
        z-index: 1;
    }
    &:hover span{
        z-index: 2;
        color: #fff;
    }
    &:hover{
        color: #fff;
    }

    &.light{
        border-color: #fff;
        color: #fff;

        &:hover::before{
            box-shadow: inset 0 0 0 12em #fff;
        }

        span{
            color: #fff;
        }

        &:hover span{
            color: $secondary-color;
        }
    }

    &-secondary{
        background: #2353FF;
        color: #fff;

        &::before{
            display: none;
        }

        &:hover{
           background-color: $secondary-color;
           border-color: $secondary-color;
        }

      
    span{
        @include font($im,1.6rem,#fff,normal);
        text-transform: capitalize;
        transition: all 0.3s ease-out;
        position: relative;
    }
    }
}