.menu-icon {
  width   : 32px;
  height  : 32px;
  cursor  : pointer;
  position: relative;
  display: none;

  @include respondmax(xl){
    display: block;
    z-index: 2000000000000000;
  }
}

.menu-icon span {
  background-color: black;
  height          : 2px;
  position        : absolute;
  width           : 100%;
  left            : 0;
  transition      : all 0.3s ease;
  border-radius   : 10px;
}
.menu-icon span.dark-contrast{
  background-color: $triary-color!important;
}

.menu-icon span:first-child {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 8px;
}

.menu-icon span:last-child {
  top: 16px;
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.menu-icon.active span:first-child,
.menu-icon.active span:last-child {
  top             : 6px;
  background-color: $primary-color;
}

.menu-icon.active span:first-child {
  transform: rotate(45deg);
}

.menu-icon.active span:last-child {
  transform: rotate(-45deg);
}
