<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="">
                   <img src="./img/ic_baseline-whatsapp.svg" alt="">
                    WhatsApp 24/7: +1 (661) 347 9547
                </a>
            </div>
        </div>
    </div>
</div>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              
                <a href="./index.html" class="header__logo">
                    <img src="./img/logo.svg" alt="">
                </a>

                <nav>
                    <a href="./index.html" class="nav__logo">
                        <img src="./img/logo.svg" alt="">
                    </a>
    
                    <ul class="nav-list">
                        <li class="nav-item"><a href="./index.html" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="./about.html" class="nav-link">About us</a></li>
                        <li class="nav-item"><a href="./about.html" class="nav-link">Price</a></li>

                        <li class="nav-item"><a href="./team.html" class="nav-link">Team</a></li>
                       
                        <li class="nav-item"><a href="./contact.html" class="nav-link">Contact Us</a></li>
                        <li class="nav-item"><a href="./contact.html" class="nav-link">Contact Us</a></li>

                    </ul>
                    <div class="header__right">
                        <div class="header__btns">
                            <a href="javascript:void(0)" class="button button-secondary openWidget"><span>Try Widget</span></a>
                            <a href="javascript:void(0)" class="button button-primary modalOpen"><span>Request a Demo</span></a>
                        </div>


                        <a href="" class="whatsAppLink">
                            <img src="./img/ic_baseline-whatsapp.svg" alt="">
                                WhatsApp 24/7: +1 (661) 347 9547
                            </a>
                        <div class="langMenu">
                            <a href="" class="langMenu__btn">
                                EN
                            </a>
                            <div class="langMenu__drp">
                                <a href=""><img src="./img/flag-az.svg" alt="">AZ</a>
                                <a href=""><img src="./img/flag-ru.svg" alt="">RU</a>
                            </div>
                        </div>
                       </div>
                </nav>

                <a href="javascript:void(0)" class="menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>

             
            </div>
        </div>
    </div>
</header>