$il:InterTight-Light;
$ir:InterTight-Regular;
$im:InterTight-Medium;
$ism:InterTight-SemiBold;
$ib:InterTight-Bold;
$ibl:InterTight-Black;
$odb:OpenDyslexic-Bold;

$primary-color: #2353FF;
$secondary-color:#031239;
$triary-color:#AF57ED;




